$myvariable: blue;
$danger: #e74c3c;
$warning: #e67e22;
$success: #27ae60;
$dark: #2c3e50;
$light: #ecf0f1;
//déclaration de variable a l'avance

h1{
    color: $dark;
}

.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;

    &:hover{ /* &: selectionne le parents pour pouvoir l'appliquer*/
        background-color: $dark;
    }

    &-danger{
        background-color: $danger;
        color: $light;
    }
    
    &-warning{
        background-color: $warning;
        color: $light;
    }
}

