@import "variables.scss";
@import "mixin.scss";


h1{
    color: $dark;
}

.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;

    &:hover{ /* &: selectionne le parents pour pouvoir l'appliquer*/
        background-color: $dark;
    }

    &-danger{
        background-color: $danger;
        color: $light;
    }

    &-warning{
        background-color: $warning;
        color: $light;
    }
}
h1{
    @include camion(red);
}
p{
    @include camion(green);
}

//extend
.alert{
    padding: 30px;
    font-size: 20px;
    border: 1px solid $dark;
    color: $light;
}

.alert-danger{
    @extend .alert;
    background: $danger;
}
.alert-warning{
    @extend .alert;
    background: $warning;
}



